.managetemp-container {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.templ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.sendMail {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.sendMa {
  padding-top: 100px;
}

.templateeditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.templateedits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.template-preview {
  margin-top: 0px;
  padding: 0px;
  background-color: aliceblue;
  border-radius: 5px;
}

.template-preview .preview-body {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  font-size: 12px;
  margin-bottom: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #020000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .templ {
    flex-direction: column;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sendMail {
    flex-direction: column;
  }

  .templateeditor {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .templateedits {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  .templateedits button {
    padding: 10px 20px;
    font-size: 10px;
  }

  .template-preview {
    width: 250px;
    height: 600px;
    background-color: #140101;
    border-radius: 5px;
  }

  .template-preview .preview-body {
    width: 100%;
    height: 100%;
    font-size: 12px;
  }

  .templist {
    width: 100%;
  }

  th,
  td {
    padding: 2px;
    font-size: 8px;
  }

  /* Updated styles for buttons */
  .tableroww button {
    padding: 10px 10px;
    font-size: 6px;
    border-radius: 5px;
  }
}

