<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <style>
    /* CSS styles go here */
    .container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #E5E0FF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal {
    width: 100%;
    /* height: 60px; */
    background: rgba(51, 51, 51, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  .modal-container {
    display: flex;
    max-width: 60vw;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;

    transition-duration: 0.3s;
    background: #fff;
  }
    
  .modal-title {
    margin: 0;
    font-weight: 400;
    color: #55311c;
  }
  .form-error {
    font-size: 10px;
    color: #120101;
  }
  .modal-desc {
    margin: 6px 0 30px 0;
  }
  .modal-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    opacity: 1;
  }

  .modal-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
  }
  .modal-right img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 1.2s;
  }

  .modal.is-open .modal-left {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
  }
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-buttons a {
    color: rgba(51, 51, 51, 0.6);
    font-size: 14px;
  }

  .sign-up {
    margin: 60px 0 0;
    font-size: 14px;
    text-align: center;
  }
  .sign-up a {
    color: #8c7569;
  }

  .input-button {
    padding: 1.2rem 3.2rem;
    outline: none;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #905738;
    transition: 0.3s;
    cursor: pointer;
   
  }
  .input-button:hover {
    background: #55311c;
  }

  .input-label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #8c7569;
    transition: 0.3s;
  }

  .input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  .input-block input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
  }

  .input-block input::-moz-placeholder {
    color: #ccc;
    opacity: 1;
  }
  .input-block input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
  }
  .input-block input::placeholder {
    color: #ccc;
    opacity: 1;
  }
  .input-block:focus-within {
    border-color: #8c7569;
  }
  .input-block:focus-within .input-label {
    color: rgba(140, 117, 105, 0.8);
  }

  

    /* Rest of the CSS styles go here */

  </style>
</head>
<body>
    <% if (typeof error_message !=='undefined') { %>
        <p style="color: red"><%= error_message %></p>
      <% } %>
      
      <div class="container">
        <div class="modal">
          <div class="modal-container">
            <div class="modal-left">
            <h1 className="modal-title">Welcome !</h1>
              <p className="modal-desc">
                Reset Your Password
              </p>
              
              <form action="" method="POST">
                <input type="hidden" name="user_id" value="<%= user._id %>">
                <input type="hidden" name="email" value="<%= user.email %>">
                <div class="input-block">
                  <label for="password" class="input-label">Password</label>
                  <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                
                <div class="input-block">
                  <label for="confirm_password" class="input-label">Confirm Password</label>
                  <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                </div>
             
                <div class="modal-buttons">
                  <input type="submit" value="Reset Password" class="input-button">
                </div>
              </form>
            </div>
            <div class="modal-right">
              <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>
