/* ManageUserss component styles */

.manage-users-container .tablerow {
    
    padding: 0.5px;
    width: 100%;
    border-radius: 4px;
   
  }

  .manage-users-container table th,
.manage-users-container table td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}


  
  
  .manage-users-container .emplist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 50%;
  }
  
  .manage-users-container table {
 
    border-radius: 4px;
    width: 50%;
  }
  .manage-users-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-image: url("../../assets/background.png");
    background-color: black;
    width: 100%;
    height: 100%;
  }


  .btn  {
    background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
    margin: 0px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.6s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
  }
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  /* Hide columns on small screens */
  @media only screen and (max-width: 600px) {
    .manage-users-container table th:nth-child(2),
    .manage-users-container table td:nth-child(2),
   
    .manage-users-container table th:nth-child(4),
    .manage-users-container table td:nth-child(4),
    .manage-users-container table th:nth-child(5),
    .manage-users-container table td:nth-child(5),
    .manage-users-container table th:nth-child(6),
    .manage-users-container table td:nth-child(6),
    .manage-users-container table th:nth-child(8),
    .manage-users-container table td:nth-child(8),
    .manage-users-container table th:nth-child(9),
    .manage-users-container table td:nth-child(9) {
      display: none;
    }
  
    /* Adjust remaining column width */
    .manage-users-container table th:nth-child(1),
    .manage-users-container table td:nth-child(1),
    .manage-users-container table th:nth-child(7),
    .manage-users-container table td:nth-child(7),
    .manage-users-container table th:nth-child(10),
    .manage-users-container table td:nth-child(10) {
      width: 10%;
    }
  
    /* Style buttons */
    .manage-users-container table button {
      padding: 0;
      font-size: 10px;
    }
  }
  
  /* Hide columns on medium screens */
  @media only screen and (max-width: 1024px) {
    .manage-users-container table th:nth-child(5),
    .manage-users-container table td:nth-child(5),
    .manage-users-container table th:nth-child(6),
    .manage-users-container table td:nth-child(6),
    .manage-users-container table th:nth-child(8),
    .manage-users-container table td:nth-child(8),
    .manage-users-container table th:nth-child(9),
    .manage-users-container table td:nth-child(9) {
      display: none;
    }
  
    /* Adjust remaining column width */
    .manage-users-container table th:nth-child(1),
    .manage-users-container table td:nth-child(1),
    .manage-users-container table th:nth-child(7),
    .manage-users-container table td:nth-child(7),
    .manage-users-container table th:nth-child(10),
    .manage-users-container table td:nth-child(10) {
      width: 10%;
    }
  
    /* Style buttons */
    .manage-users-container table button {
      padding: 10px 8px;
      
      border-radius: 5px;
      font-size: 12px;
    }
  }
  